<div class="LANG">
  <button (click)="changeLang('ENG')"  mat-button color="{{this.Language.value === 'ENG' ? 'primary' : 'basic'}}">English</button>
  <button mat-button (click)="changeLang('FR')" color="{{this.Language.value === 'FR' ? 'primary' : 'basic'}}">Français</button>
</div>
<div id="container">
  <div id="welcome" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
    <h1 *ngIf="this.Language.value === 'ENG'" id="welcome-title">
      Hi, my name is <span id="my-name">Yasser Hamek</span>
      <br id="br"/>
      <div [ngsReveal]="{duration: 3000}">I'm Fullstack Developer Engineer.</div>
    </h1>
    <h1 *ngIf="this.Language.value === 'FR'" id="welcome-title">
      Hi, je m'appelle <span id="my-name">Yasser Hamek</span>
      <br id="br"/>
      <div [ngsReveal]="{duration: 3000}">Je suis ingénieur développeur Fullstack.</div>
    </h1>
    <div [ngsReveal]="{duration: 4000 }">
      <a class="custom-button" href="#header">Know more</a>
    </div>
  </div>
  <div id="header" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
    <h1>About me</h1>
    <div id="presentation">
      <img id="profil-picture" src="{{imgSrc}}{{profilImg}}">
      <div *ngIf="this.Language.value === 'ENG'" id="presentation-text">
                  With a solid background as an engineer, and a great passion for
          learning, I have built a diverse skillets as a software engineer. I have
          experience working with large and small software projects across all
          software development phases from conception, implementation, and
          testing with a focus on Web Development using modern technologies
          such as Java, Spring, React, Angular amongst many others.
      <br/>
          I am a committed team player who feels a strong responsibility to
          deliver solutions that make end user satisfied. I enjoy working in teams
          that foster creativity and I am always eager to learn from others and
          share my knowledge with my teammates.
      </div>
      <div *ngIf="this.Language.value === 'FR'" id="presentation-text">
        J’ai +10 d’études supérieures, un Master en Informatique, un Master en Génie Mécanique, des connaissances approfondies
        et une solide expérience en étude et développement web Fullstack sur divers projets.
      <br/>
        Avec un esprit d'ingénieur très développé, et un grand intérêt pour la conception et le développement de logiciels,
        je suis à la recherche d'une nouvelle mission en développement web ou bien en test.
      </div>
    </div>
  </div>
  <div id="body">

    <!-- Experience -->
    <div class="body-title" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
      <h1>Experience</h1>
    </div>
    <div class="spinner-div" *ngIf="loadingExperiences | async; else experienceTemplate">
      <mat-spinner> </mat-spinner>
    </div>
    <ng-template #experienceTemplate>
      <div *ngFor="let experience of experiences | async; let experienceIndex = index">
        <div class="column-container">
          <div class="header">
            <div class="logo-wrapper">
              <img class="logo" *ngFor="let companyLogo of experience.companyLogo" src="{{logoImgSrc}}{{companyLogo}}">
            </div>
            <div class="shadowed-card green-linear-gradient-background">
              <div class="font-size-larger"><b>{{experience.title}}</b></div>
              <div>{{experience.company}}</div>
              <div>{{experience.year}}</div>
            </div>
          </div>
          <div class="project-picture-div" *ngIf="experience.images && experience.images.length > 0"
                [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
            <button class="button" *ngIf="experience.images.length > 1" mat-button (click)="changeImg(false, experience.images.length, experienceIndex + this.projectsLenght)">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <img class="project-picture" src="{{imgSrc}}{{experience.images[indexOfImageToShow[(experienceIndex + this.projectsLenght)]]}}">
            <button class="button" *ngIf="experience.images.length > 1" mat-button (click)="changeImg(true, experience.images.length, (experienceIndex + this.projectsLenght))">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
          <div class="card expended-section">
            <div *ngIf="experience.descriptions" [ngsReveal]="{ reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 5000 }">
              <p [ngsReveal]="{ reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1500 }" class="costum-p" *ngIf='experience.descriptions[0] != " "'> {{experience.descriptions[0]}} </p>
              <li [ngsReveal]="{ reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 2000+500*i }" class="margin-left" *ngFor="let ligne of experience.descriptions | slice:1; let i=index">
                {{ligne}}
              </li>
            </div>
            <mat-card class="card card-tech margin-top" [ngsReveal]="{ reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 5000 }">
              <mat-card-content>
                <h4 class="">Technologies</h4>
                <ng-container *ngFor="let tech of experience.technologies; let i=index">
                  <ng-container *ngIf="i == experience.technologies.length - 1; else elseTemplate">
                    {{tech+"."}}
                  </ng-container>
                  <ng-template #elseTemplate>
                    {{tech+", "}}
                  </ng-template>
                </ng-container>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Projects -->
    <div class="body-title" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px',duration: 1000 }">
      <h1 *ngIf="this.Language.value === 'ENG'">Project</h1>
      <h1 *ngIf="this.Language.value === 'FR'">Projets réalisé</h1>
    </div>
    <div class="spinner-div" *ngIf="loadingProjects | async; else projectsTemplate">
      <mat-spinner> </mat-spinner>
    </div>
    <ng-template #projectsTemplate>
      <div class="project" *ngFor="let project of this.projects | async; let projectIndex = index">
        <div class="project-title" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
          {{project.title}}
        </div>
        <div class="project-picture-div" *ngIf="project.images && project.images.length > 0" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
          <button class="button" *ngIf="project.images.length > 1" mat-button (click)="changeImg(false, project.images.length, projectIndex)">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <img class="project-picture" src="{{imgSrc}}{{project.images[indexOfImageToShow[projectIndex]]}}">
          <button class="button" *ngIf="project.images.length > 1" mat-button (click)="changeImg(true, project.images.length, projectIndex)">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        <div *ngIf='project.cat == "cat1"; else footerCat2' class="project-footer cat1">
          <div class="project-description">
            <h4 class="project-footer-title">Description du projet</h4>
            <p *ngFor="let ligne of project.descriptions; let i=index" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)',  duration: (3000 + 500*i) }">
              {{ligne}}
              <br/>
            </p>
          </div>
          <mat-card class="project-technologie" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)',  duration: 3000 }">
            <mat-card-content>
              <h4 class="project-footer-title">Technologies</h4>
              <ng-container *ngFor="let tech of project.technologies; let i=index">
                <ng-container *ngIf="i == project.technologies.length - 1; else elseTemplate">
                  {{tech+"."}}
                </ng-container>
                <ng-template #elseTemplate>
                  {{tech+", "}}
                </ng-template>
              </ng-container>
            </mat-card-content>
          </mat-card>
        </div>
        <ng-template #footerCat2>
          <div class="project-footer cat2">
            <div class="project-description" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
              <h4 class="project-footer-title">Description du projet</h4>
              <p *ngFor="let ligne of project.descriptions">
                {{ligne}}
                <br/>
              </p>
            </div>
            <mat-card class="project-technologie" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'15px', duration: 1000 }">
              <mat-card-content>
                <h4 class="project-footer-title">Technologies</h4>
                <ng-container *ngFor="let tech of project.technologies; let i=index">
                  <ng-container *ngIf="i == project.technologies.length - 1; else elseTemplate">
                    {{tech+"."}}
                  </ng-container>
                  <ng-template #elseTemplate>
                    {{tech+", "}}
                  </ng-template>
                </ng-container>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
      </div>
    </ng-template>

    <!-- Education -->
    <div class="body-title" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
      <h1>Education</h1>
    </div>
    <div class="spinner-div" *ngIf="loadingEducations | async; else educationsTemplate">
      <mat-spinner> </mat-spinner>
    </div>
    <ng-template #educationsTemplate>
      <div class="education">
        <div class="education-content" *ngFor="let education of educations | async" [ngsReveal]="{ reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)',  duration: 1000}" >
          <div class="education-header">
            <img class="university-logo" src="{{logoImgSrc}}{{education.universityLogo}}">
            <div class="diplome-description">
              <div class="diplome-title"><b>{{education.title}}</b></div>
              <div>{{education.university}}</div>
              <div>{{education.year}}</div>
            </div>
          </div>
          <div class="education-description" *ngIf="education.descriptions">
            <p *ngIf='education.descriptions[0] != " "' [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', duration: 3000 }"> {{education.descriptions[0]}} </p>
            <li class="margin-left" *ngFor="let ligne of education.descriptions | slice:1; let i=index" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', duration: (3000 + 500 * i) }">
              {{ligne}}
            </li>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Technologies -->
    <div class="body-title" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
      <h1>Technologies</h1>
    </div>
    <div class="spinner-div" *ngIf="loadingEducations | async; else techsTemplate">
      <mat-spinner> </mat-spinner>
    </div>
    <ng-template #techsTemplate>
      <div id="tech">
        <div id="tech-body">
          <mat-card id="tech-card" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'2px', duration: 1000 }">
            <mat-card-content id="tech-content">
              <div class="tech-field" *ngFor="let tech of techs | async" [ngsReveal]="{delay:600, duration: 2000, interval:50 }">
                <img class="tech-logo" src="{{logoImgSrc}}{{tech.logo}}">
                <div class="tech-name"> {{tech.name}} </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </div>
  <div id="footer">
    <div id="logo">
      <a id="github" href="https://www.linkedin.com/in/yasser-hamek/">
        <i class="fa fa-linkedin fa-inverse fa-2x"></i>
      </a>
      <a id="linkedin" href="https://github.com/YasserHamek">
        <i class="fa fa-github fa-inverse fa-2x"></i>
      </a>
    </div>
    <hr/>
    <div id="developper">
      © 2021 - developed by Yasser Hamek
    </div>
  </div>
</div>
