.LANG{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 2em;
  margin-right: 1em;
}



#container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 3rem;

  #welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 56px;
    font-size: 2rem;
    height: 100vh;
    color: rgb(31, 29, 29);
    background-color: white;
    margin: -56px -56px 0 -56px;

    #my-name {
      color: #00cdac;
    }

    .custom-button {
      background-color: transparent;
      color: #00cdac;
      text-decoration: none;
      display: inline-block;
      position: relative;
      padding: 0.8rem 1.6rem;
      font-weight: bold;
      line-height: 1;
      z-index: 1;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
      }

      border: 2px solid transparent;
      border-image: linear-gradient(
        135deg,
        #02aab0 0%,
        #00cdac 100%
      );
      border-image-slice: 1;

      &::after {
        background-image: linear-gradient(
          135deg,
          #02aab0 0%,
          #00cdac 100%
        );
      }

      &:hover {
        -webkit-text-fill-color: white;
        text-decoration: none;

        &::after {
          width: 100%;
        }
      }
    }
  }

  #header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    gap: 1.5rem;
    min-height: 60vh;
    max-width: 60vw;
    margin-left: -56px;
    margin-right: -56px;
    padding: 35px 56px 56px 56px;
    font-size: 1.5rem;
    color: white;
    background-color: #00cdac;
    color: #ffffff;
    background-image: linear-gradient(
      135deg,
      #02aab0 0%,
      #00cdac 100%
    );
    border-top: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
    padding-bottom: 10%;

    #presentation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      flex-wrap: wrap;

      #profil-picture{
        height: 250px;
        width: 250px;
        border-radius: 20px;
        border: 1px solid black;
      }

      #presentation-text {
        display: inline-block;
        text-align: justify;
        max-width: 400px;
        font-size: 1rem;
        padding: 0 0.3rem;
        margin: 0.3rem 0;
        line-height: 1.6;
      }
    }
  }

  #body {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;

    .body-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 1.3rem;
      margin-top: 6rem;
      margin-left: -45px;

      h1 {
        padding: 0px;
        margin: 0.25rem;
      }
    }

    .spinner-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 5rem;

      .project-title{
        font-size: 1.5rem;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.9), 0 1px 1px 0 rgba(0,0,0,.23), 0 1px 3px 0 rgba(0,0,0,.20);
        background: linear-gradient(
          135deg,
          #02aab0 0%,
          #00cdac 75%,
          #00cdac 100%
        );
        padding: 0.2rem 0.45rem 0.2rem 0.45rem;
        color: white;
      }



      .project-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px -56px 0px -56px;
        padding: 1rem;
        padding-top: 0px;
        background: white;

        .project-description {
          font-size: 1rem;
          text-align: justify;
          color: black;
          margin-left: 3rem;
          margin-right: 3rem;
        }

        .project-technologie {
          background: white;
          text-align: justify;
          color: black;
          margin-top: 2em;
          margin-left: 3rem;
          margin-right: 3rem;
          border-radius: 10px;
        }
      }

      .cat2{
        .project-description {
          width: 61%;
        }

        .project-technologie {
          width: 20%;
          height: min-content;
        }
      }
    }

    .education {
      display: flex;
      flex-direction: row;
      align-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      .education-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;

        .education-header {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 70%;
          gap: 0.75rem;
          box-shadow: 0 2px 1px -1px rgba(0,0,0,.9), 0 1px 1px 0 rgba(0,0,0,.23), 0 1px 3px 0 rgba(0,0,0,.20);
          background-image: linear-gradient(
            135deg,
            #02aab0 0%,
            #00cdac 75%,
            #00cdac 100%
          );
          padding: 0.2rem 0.45rem 0.2rem 0.45rem;
          color: white;
          border-radius: 7.5px;

          .university-logo {
            width: 30%;
            height: auto;
          }

          .diplome-description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .diplome-title {
              font-size: larger;
            }
          }
        }

        .education-description {
          background: white;
          text-align: justify;
          color: rgb(0, 0, 0);
          margin-left: 0.1rem;
          margin-right: 0.1rem;
          border-radius: 10px;
          padding: 1rem;
          padding-top: 0.25rem;

        }
      }
    }

    #tech {
      margin-bottom: 20px;

      #tech-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #tech-card {
          width: 90%;
          background: white;
          color: black;
          border-radius: 10px;

          #tech-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            .tech-field {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: center;
              gap: 0.5rem;

              .tech-logo {
                width: auto;
                height: 50px;
              }

              .tech-name {

              }
            }
          }
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-left: -56px;
    margin-right: -56px;
    margin-bottom: -56px;
    background-color: rgb(39, 33, 33);

    #logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      #github {
        margin-top: 1rem;
      }

      #linkedin {
        margin-top: 1rem;
      }
    }

    hr {
      margin: 1rem auto;
      border: 0;
      width: 50%;
      border-top: 2px solid grey;
    }

    #developper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: rgba(255, 255, 255, 0.877);
    }
  }
}

@media screen and (max-width: 600px) {
  #container {
    padding-top: 0px;

    #welcome {
      align-items: center;
      text-align: center;
      font-size: 1.5rem;
      padding: 0px 10px 0px 10px;
      margin: auto -56px auto -56px;
    }

    #header {
      min-height: 97vh;
      padding: 56px 20px 56px 20px;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    #body {
      align-items: center;
      margin-top: 1rem;
      gap: 1rem;

      .body-title {
        margin: 0px;
        margin-top: 3.5rem;
        font-size: 1rem;
      }

      .project {
        gap: 1rem;

        .project-title{
          font-size: 1.2rem;
          margin: 0px -30px 0px -30px;
        }

        .project-picture-div {
          min-width: 85vw;
          max-width: 85vw;
          max-height: 85vw;
          min-height: 85vw;
        }

        .project-footer {
          margin: 0px -56px 0px -56px;

          .project-description {
            width: 100%;
          }

          .project-technologie {
            width: 100%;
          }

          .project-footer-title {
            margin: 10px 0px 3px 0px;
          }
        }
      }

      .education {
        gap: 0.75rem;
        margin: 0px -56px 0px -56px;

        .education-content {
          gap: 0.75rem;

          .education-header {
            width: 92%;
            gap: 0.5rem;

            .university-logo {
              height: 90%;
            }
          }
        }
      }

      #tech {
        margin: 0px -56px 0px -56px;
        margin-bottom: 10px;

        #tech-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          #tech-card {
            width: 90%;
            padding: 8px;
            padding-bottom: 8px;
            margin-bottom: 0px;

            #tech-content {
              gap: 1rem;

              .tech-field {
                gap: 0.25rem;

                .tech-logo {
                  width: auto;
                  height: 35px;
                }

                .tech-name {
                  font-size: 0.75rem;
                }
              }
            }
          }
        }
      }
    }

    #footer {
      display: flex;
      flex-direction: column;
      height: 80px;
      margin-left: -56px;
      margin-right: -56px;
      margin-bottom: -56px;
      background-color: rgb(39, 33, 33);

      #logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;

        #github {
          margin-top: 0.3rem;
        }

        #linkedin {
          margin-top: 0.3rem;
        }
      }
      hr {
        margin: 0.3rem auto;
        border: 0;
        width: 50%;
        border-top: 2px solid grey;
      }

      #developper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(255, 255, 255, 0.877);
      }
    }
  }
}

.project-picture-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
  min-width: 600px;
  max-height: 450px;
  min-height: 450px;

  .project-picture {
    border: 1px solid black;
    width: 100%;
    height: auto;
  }

  .button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0px;
    height: min-content;
    min-width: min-content;
  }
}



.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 5rem;
}

.card {
  padding: 1em 1em 1em 1em;
  font-size: 1.2rem;
  line-height: 2rem;
  color: black;
  background: white;
  border-radius: 10px;
}

.card-tech {
  line-height: 1.5rem;
  text-align: center;
}

.shadowed-card {
  width: fit-content;
  font-size: 1.15rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.9), 0 1px 1px 0 rgba(0,0,0,.23), 0 1px 3px 0 rgba(0,0,0,.20);
  padding: 0.2rem 0.45rem 0.2rem 0.45rem;
  color: white;
}

.grey-white-linear-gradient-background {
  background: linear-gradient(45deg, rgba(255,255,255,1) 12%, rgba(221,221,221,1) 41%, rgba(221,221,221,1) 50%, rgba(255,255,255,1) 88%) !important;
}

.blue-white-linear-gradient-background {
  background: linear-gradient(45deg, rgba(255,255,255,1) 3%, rgba(133,185,231,0.55709616610316) 48%, rgba(255,255,255,1) 94%) !important;
}

.green-linear-gradient-background {
  background: linear-gradient(135deg, #02aab0 0%, #00cdac 75%, #00cdac 100%) !important;
}

.font-size-larger {
  font-size: larger;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.logo {
  width: 8em;
  height: auto;
}

.logo-wrapper {
  gap: 0.75rem;
  display: flex;
  flex-direction: row;
  border: 1px solid #02aab0;
  padding: 0.4em;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.9), 0 1px 1px 0 rgba(0,0,0,.23), 0 1px 3px 0 rgba(0,0,0,.20);
}

.margin-top {
  margin-top: 1em;
}

.margin-left {
  margin-left: 2rem;
}

.costum-p {
  text-align: justify;
  margin-top: 0px;
}

