#container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 3rem;

  #header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    //background: linear-gradient(180deg, rgba(105, 99, 212, 0.685) 0%, rgba(105, 99, 212, 0.295) 35%, rgb(255, 255, 255) 100%);

    #about-me {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    #profil-picture{
      height: 250px;
      width: 250px;
      border-radius: 20px;
      border: 1px solid black;
    }

    #presentation {
      max-width: 350px;
      background-color: rgba(192, 189, 189, 0.555);
      font-size: 1rem;
      text-align: justify;
      color: black;
      border-radius: 10px;
    }
  }

  #body {
    display: flex;
    flex-direction: column;

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;

      .project-picture-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3px;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 600px;

        .project-picture {
          border: 1px solid black;
          width: 100%;
          height: auto;
        }

        .button {
          background-color: transparent;
          outline: none;
          border: none;
          padding: 0px;
          height: min-content;
          min-width: min-content;
        }
      }

      .project-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .project-description {
          background-color: rgba(192, 189, 189, 0.555);
          font-size: 1rem;
          text-align: justify;
          color: black;
          margin-left: 3rem;
          margin-right: 3rem;
          border-radius: 10px;
        }

        .project-technologie {
          background-color: rgba(192, 189, 189, 0.555);
          font-size: 1rem;
          text-align: justify;
          color: black;
          margin-left: 3rem;
          margin-right: 3rem;
          border-radius: 10px;
        }
      }
    }

    .education {
      display: flex;
      flex-direction: row;
      align-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      .education-content {
        display: flex;
        flex-direction: column;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;

        .education-header {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .university-logo {
            width: 30%;
            height: auto;
          }

          .diplome-description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .diplome-title {
              font-size: larger;
            }
          }
        }

        .education-description {
          background-color: rgba(192, 189, 189, 0.555);
          font-size: 1rem;
          text-align: justify;
          color: black;
          margin-left: 0.1rem;
          margin-right: 0.1rem;
          border-radius: 10px;

          .edu-des-line {
            margin-left: 2rem;
          }
        }
      }
    }
  }

  #tech {
    margin-bottom: 20px;

    #tech-title {

    }

    #tech-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #tech-card {
        width: 90%;
        background-color: rgba(192, 189, 189, 0.555);
        font-size: 1rem;
        color: black;
        border-radius: 10px;

        #tech-content {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;

          .tech-field {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5rem;

            .tech-logo {
              width: auto;
              height: 50px;
            }

            .tech-name {

            }
          }
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-left: -56px;
    margin-right: -56px;
    margin-bottom: -56px;
    background-color: rgb(39, 33, 33);

    #logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      #github {
        margin-top: 1rem;
      }

      #linkedin {
        margin-top: 1rem;
      }
    }

    hr {
      margin: 1rem auto;
      border: 0;
      width: 50%;
      border-top: 2px solid grey;
    }

    #developper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: rgba(255, 255, 255, 0.877);

    }
  }
}
