<div id="container">
  <div id="welcome" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
    <h1 id="welcome-title">
      Hi, my name is <span id="my-name">Yasser Hamek</span>
      <br />
      <div [ngsReveal]="{duration: 3000}">I'm Fullstack Developer.</div>
    </h1>
    <div [ngsReveal]="{duration: 4000 }">
      <a class="custom-button" href="#header">Know more</a>
    </div>
  </div>
  <div id="header" [ngsReveal]="{reset: true, easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
    <h1>About me</h1>
    <div id="presentation">
      <img id="profil-picture" src="{{imgSrc}}{{profilImg}}">
      <div id="presentation-text">
        Je m’appelle Yasser Hamek, j’ai 28ans et j’ai commencé mon parcours scolaire en Algérie dans le domaine du génie mécanique,
        et j’ai récemment été diplômé de l’université de Rennes 1 avec un Master en Informatique.
      <br/>
        Avec un esprit d'ingénieur très développé, et un grand intérêt pour la conception et le développement de logiciels,
        je suis à la recherche d'un poste en développement web Fullstack sur Java, Spring et Angular.
      </div>
    </div>
  </div>
  <div id="body">
    <div class="body-title"[ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
      <h1> Projets réalisé : </h1>
    </div>
    <div class="project" *ngFor="let project of this.projects">
      <div class="project-title" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
        {{project.title}}
      </div>
      <div class="project-picture-div" *ngIf="project.images" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
        <button class="button" *ngIf="project.images.length > 1" mat-button (click)="changeImg(false, project.images.length)">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <img class="project-picture" src="{{imgSrc}}{{project.images[indexOfImageToShow]}}">
        <button class="button" *ngIf="project.images.length > 1" mat-button (click)="changeImg(true, project.images.length)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div *ngIf='project.cat == "cat1"; else footerCat2' class="project-footer cat1">
        <div class="project-description" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
          <h4> Description du projet :</h4>
          <p *ngFor="let ligne of project.description">
            {{ligne}}
            <br/>
          </p>
        </div>
        <mat-card class="project-technologie" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
          <mat-card-content>
            <h4> Technologies :</h4>
            <ng-container *ngFor="let tech of project.technologies; let i=index">
              <ng-container *ngIf="i == project.technologies.length - 1; else elseTemplate">
                {{tech+"."}}
              </ng-container>
              <ng-template #elseTemplate>
                {{tech+", "}}
              </ng-template>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </div>
      <ng-template #footerCat2>
        <div class="project-footer cat2">
          <div class="project-description" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
            <h4> Description du projet :</h4>
            <p *ngFor="let ligne of project.description">
              {{ligne}}
              <br/>
            </p>
          </div>
          <mat-card class="project-technologie" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
            <mat-card-content>
              <h4> Technologies :</h4>
              <ng-container *ngFor="let tech of project.technologies; let i=index">
                <ng-container *ngIf="i == project.technologies.length - 1; else elseTemplate">
                  {{tech+"."}}
                </ng-container>
                <ng-template #elseTemplate>
                  {{tech+", "}}
                </ng-template>
              </ng-container>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
    </div>
    <div class="body-title" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
      <h1> Education : </h1>
    </div>
    <div class="education">
      <div class="education-content" *ngFor="let education of educations" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000}" >
        <div class="education-header">
          <img class="university-logo" src="{{logoImgSrc}}{{education.universityLogo}}">
          <div class="diplome-description">
            <div class="diplome-title"><b>{{education.diplome}}</b></div>
            <div>{{education.university}}</div>
            <div>{{education.year}}</div>
          </div>
        </div>
        <div class="education-description" *ngIf="education.descriptions">
          <p *ngIf='education.descriptions[0] != " "'> {{education.descriptions[0]}} </p>
          <li class="edu-des-line" *ngFor="let ligne of education.descriptions | slice:1; let i=index">
            {{ligne}}
          </li>
        </div>
      </div>
    </div>
    <div class="body-title" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
      <h1> Technologies : </h1>
    </div>
    <div id="tech">
      <div id="tech-body">
        <mat-card id="tech-card" [ngsReveal]="{easing: 'cubic-bezier(0.5, 0, 0, 1)', distance:'30px', duration: 1000 }">
          <mat-card-content id="tech-content">
            <div class="tech-field" *ngFor="let tech of techs">
              <img class="tech-logo" src="{{logoImgSrc}}{{tech.logo}}" [ngsReveal]="{delay:600, duration: 2000 }">
              <div class="tech-name"> {{tech.name}} </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="logo">
      <a id="github" href="https://github.com/YasserHamek">
        <i class="fa fa-linkedin fa-inverse fa-2x"></i>
      </a>
      <a id="linkedin" href="https://www.linkedin.com/in/yasser-hamek/">
        <i class="fa fa-github fa-inverse fa-2x"></i>
      </a>
    </div>
    <hr/>
    <div id="developper">
      © 2021 - developed by Yasser Hamek
    </div>
  </div>
</div>
